<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}"><td th:text = "${#authentication.authorities}"></td></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user}">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/food}">Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/table}">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/bill}">Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/booking}">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/deposit}">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/review}">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row col-md-10">
            <h2>List of Bill</h2>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>Bill Id</th>
                <th>Bill User</th>
                <th>Bill Food</th>
                <th>Bill Date</th>
                <th>Bill Describe</th>
                <th>Bill Status</th>
                <th>Bill Set Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "bill : ${billList}">
                <td th:text = "${bill.id}"></td>
                <td th:text = "${bill.user.name}"></td>
                <td th:text = "${bill.food.name}"></td>
                <td th:text = "${bill.date}"></td>
                <td th:text = "${bill.describer}"></td>
                <td>
                    <span th:switch="${bill.status}">
                        <span th:case="0">Đã đặt món</span>
                        <span th:case="1">Đã nhận món</span>
                        <span th:case="2">Đang nấu món</span>
                        <span th:case="3">Đã nấu và chuẩn bị sắp xếp</span>
                        <span th:case="4">Nhân viên phục vụ đang mang lên</span>
                        <span th:case="5">Đã giao bàn - Chưa đánh giá</span>
                        <span th:case="6">Đã giao bàn - Đã đánh giá</span>
                        <span th:case="*">Trạng thái không hợp lệ</span>
                    </span> 
                    <form action="/reviewForm" method="POST" th:if="${bill.status.equals(5)}">
                        <input type="hidden" id="billId" name="billId" th:value="${bill.id}" required>
                        <input type="hidden" id="foodId" name="foodId" th:value="${bill.food.id}" required>
                        <button type="submit" class="btn btn-primary mx-auto">Review</button>
                    </form>  
                </td>
                <td>   
                    <form action="/billStatusProcess" method="POST">
                        <input type="hidden" id="billId" name="billId" th:value="${bill.id}" required>
                        <button type="submit" name="billStatus" th:value="1"><img src="/images/1.jpg" style="width: 50px; height: 50px;" alt="Submit"/></button>
                        <button type="submit" name="billStatus" th:value="2"><img src="/images/2.jpg" style="width: 50px; height: 50px;" alt="Submit"/></button>
                        <button type="submit" name="billStatus" th:value="3"><img src="/images/3.jpg" style="width: 50px; height: 50px;" alt="Submit"/></button>
                        <button type="submit" name="billStatus" th:value="4"><img src="/images/4.jpg" style="width: 50px; height: 50px;" alt="Submit"/></button>
                        <button type="submit" name="billStatus" th:value="5"><img src="/images/5.jpg" style="width: 50px; height: 50px;" alt="Submit"/></button>
                    </form>  
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>